<div class="home-container">

  <!-- NAVBAR -->
  <header class="navbar">

    <div class="logo">
      🎓 CampusEventHub
    </div>

    <div class="nav-actions">
      <button mat-raised-button class="btn-login" routerLink="/login">
        Login
      </button>

      <button mat-raised-button class="btn-signup" routerLink="/register">
        Sign Up
      </button>
    </div>

  </header>


  <!-- HERO SECTION -->
  <section class="hero">

    <div class="hero-left">

      <h1>
        Discover <span>Unforgettable</span>
        College Events
      </h1>

      <p>
        CampusEventHub connects students with technical, cultural,
        and sports events across colleges.
        Explore opportunities, build connections,
        and showcase your talent.
      </p>

      <div class="hero-buttons">

        <button mat-raised-button class="btn-primary" routerLink="/register">
          Start Exploring
        </button>

        <button mat-raised-button class="btn-secondary" routerLink="/register">
          Join Community
        </button>

      </div>

    </div>


    <div class="hero-right">

      <img src="https://images.unsplash.com/photo-1594122230689-45899d9e6f69?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="speaker addressing audience" />

    </div>

  </section>



  <!-- STATS SECTION -->
  <section class="stats">

    <div class="stat-card">
      <h2>50+</h2>
      <p>Partner Colleges</p>
    </div>

    <div class="stat-card">
      <h2>500+</h2>
      <p>Events Hosted</p>
    </div>

    <div class="stat-card">
      <h2>10K+</h2>
      <p>Active Students</p>
    </div>

  </section>



  <!-- FEATURE SECTION -->
  <section class="features">

    <div class="feature-card">
      <img src="https://img.icons8.com/fluency/96/event-accepted.png" />
      <h3>Smart Event Discovery</h3>
      <p>
        Find events from colleges across India with a powerful
        discovery system.
      </p>
    </div>

    <div class="feature-card">
      <img src="https://img.icons8.com/fluency/96/conference.png" />
      <h3>Easy Registration</h3>
      <p>
        Register for technical, cultural and sports events
        in seconds.
      </p>
    </div>

    <div class="feature-card">
      <img src="https://img.icons8.com/fluency/96/prize.png" />
      <h3>Showcase Talent</h3>
      <p>
        Compete with students from other colleges
        and win recognition.
      </p>
    </div>

  </section>


</div>