<div class="home-container">
  <header class="top-bar">
    <h1>CampusEventHub</h1>
    <div>
      <button mat-raised-button color="primary" routerLink="/login">Login</button>
      <button mat-stroked-button color="accent" routerLink="/register">Sign Up</button>
    </div>
  </header>

  <div class="info-card">
    <h2>Welcome to CampusEventHub 🎓</h2>
    <p>
      CampusEventHub helps students explore and register for college events,
      while college admins manage events. Super Admins oversee the platform.
    </p>
  </div>
</div>
