<div class="auth-container">
  <mat-card class="auth-card">
    <div class="auth-header">
      <h2>Welcome Back</h2>
      <p class="subtitle">Sign in to CampusEventHub</p>
    </div>

    <form #loginForm="ngForm">
      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="email" required email #emailModel="ngModel">

        <mat-error *ngIf="emailModel.errors?.['required'] && emailModel.touched">
          Email is required
        </mat-error>

        <mat-error *ngIf="emailModel.errors?.['email'] && emailModel.touched">
          Enter a valid email address
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password" required #passwordModel="ngModel">
        <mat-error *ngIf="passwordModel.invalid && passwordModel.touched">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Role
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Login As</mat-label>
        <mat-select [(ngModel)]="role" name="role" required>
          <mat-option value="student">Student</mat-option>
          <mat-option value="college-admin">College Admin</mat-option>
          <mat-option value="super-admin">Super Admin</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- Login Button -->
      <button mat-raised-button color="primary" class="full-width login-btn" (click)="login()" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>

      <!-- Backend Error -->
      <p class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

      <p class="switch-text">
        Don’t have an account? <a routerLink="/register">Sign Up</a>
      </p>
    </form>
  </mat-card>
</div>


