
<!--<div class="form-wrapper">
    <div class="form-card">
        <h2>Create Event</h2>

        <form (ngSubmit)="onSubmit()" #eventForm="ngForm">

              
            <div class="form-group">
                <label>Event Title</label>
                <input type="text" name="title" ngModel required />
            </div>

             
              <div class="form-group">
                <label>Description</label>
                <textarea name="description" rows="3" ngModel required></textarea>
                </div>

                 
                  <div class="row">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" name="startDate" ngModel required />
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        <input type="date" name="endDate" ngModel required />
                    </div>       
                    </div>
                    
                    
                     <div class="form-group">
                        <label>Category</label>
                        <select name="category" ngModel required>
                            <option value="">Select Category</option>
                            <option>Technical</option>
                            <option>Cultural</option>
                            <option>Sports</option>
                            <option>Workshop</option>
                        </select>
                     </div>

                    
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" name="location" ngModel required />
                    </div>

                
                     <div class="form-group">
                        <label>College Name</label>
                        <input type="text" name="college" ngModel required />
                     </div> 

                     
                      <div class="form-group">
                        <label>Max Participants</label>
                        <input type="number" name="maxParticipants" ngModel required />
                     </div> 

                     
                     <div class="form-group">
                        <label>Event Image URL</label>
                        <input type="text" name="imageUrl" ngModel />
                     </div> 

            
                      <div class="button-group">
                        <button type="submit" [disabled]="!eventForm.valid">
                            Create Event
                        </button>
                        <button type="button" class="cancel-btn">
                            Cancel
                        </button>
                      </div>

                      
        </form>
    </div>
</div>-->

<div class="form-wrapper">
    <div class="form-card">
        <h2>Create Event</h2>

        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">

            <!-- Title -->
            <div class="form-group">
                <label>Event Title</label>
                <input type="text" formControlName="title" />
                <small *ngIf="f['title'].touched && f['title'].invalid">
                    Title is required
                </small>           
             </div>

             <!-- Description -->
              <div class="form-group">
                <label>Description</label>
                <textarea rows="3" formControlName="description"></textarea>
                <small *ngIf="f['description'].touched && f['description'].invalid">
                    Description is required
                </small>
                </div>

                <!-- Dates -->
                 <div class="row">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" formControlName="startDate" />
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        <input type="date" formControlName="endDate" />
                    </div>       
                    </div>

                     <!-- Category -->
                       <div class="form-group">
                        <label>Category</label>
                        <select formControlName="category">
                            <option value="">Select Category</option>
                            <option>Technical</option>
                            <option>Cultural</option>
                            <option>Sports</option>
                            <option>Workshop</option>
                        </select>
                     </div>

                     <!-- Location -->
                      <div class="form-group">
                        <label>Location</label>
                        <input type="text" formControlName="location" />
                    </div>

                    <!-- College -->
                     <div class="form-group">
                        <label>College Name</label>
                        <input type="text" formControlName="college" />
                     </div> 

                     <!-- Participants -->
                      <div class="form-group">
                        <label>Max Participants</label>
                        <input type="number" formControlName="maxParticipants" />
                     </div> 

                     <!-- Image -->
                      <div class="form-group">
                        <label>Event Image URL</label>
                        <input type="text" formControlName="imageUrl" class="form-control" />
                        <img 
                        *ngIf="eventForm.get('imageUrl')?.value"
                        [src]="eventForm.get('imageUrl')?.value"
                        width="120"
                        style="margin-top: 10px; border-radius: 8px;"
                        >
                     </div> 

                     <!-- Success -->
                      <div class="success=msg" *ngIf="successMessage">
                        {{ successMessage }}
                      </div>

                      <!-- Button -->
                       <button type="submit" [disabled]="eventForm.invalid || isSubmitting">
                        {{ isSubmitting ? 'Creating...' : 'Create Event' }}
                       </button>

        </form>
        </div>
        </div>